div.window-container {
  position: absolute;
  border: solid 1px black;
  --tilebar-height: 32px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

div.window-container > div.title-bar {
  background-color: gray;
  height: var(--tilebar-height);
  display: flex;
  flex-direction: row;
  cursor: default;
}

div.window-container > div.title-bar > span.icon {
  line-height: var(--tilebar-height);
  height: var(--tilebar-height);
  width: var(--tilebar-height);
  font-size: calc(var(--tilebar-height) - 8px);
}

div.window-container > div.title-bar > span.windowTitle {
  flex-grow: 1;
  overflow: hidden;
  text-align: center;
  background-color: gray;
  color: white;
  font-size: calc(var(--tilebar-height) - 16px);
  line-height: var(--tilebar-height);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

div.window-container > div.title-bar > span.windowTitle:active {
  opacity: 0.5;
}

div.window-container > div.title-bar > span.buttonContainer {
  display: flex;
  flex-direction: row;
}

div.window-container
  > div.title-bar
  > span.buttonContainer
  > span.windowButton {
  height: var(--tilebar-height);
  width: var(--tilebar-height);
  font-size: calc(var(--tilebar-height) - 8px);
  cursor: default;
  color: black;
  transition: 200ms ease-in-out;
}

div.window-container
  > div.title-bar
  > span.buttonContainer
  > span.windowButton:hover {
  color: white;
}

div.window-container > div.content {
  overflow: auto;
  background-color: white;
  flex-grow: 1;
}
